body {
	height: 100vh;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
    font-size: small;	
	display: flex;
}
:root {  
	--tablereact-main-background-color: white;
	--tablereact-selected-color:  white;
	--tablereact-selected-background-color: blue;
	--tablereact-is-selected-color:  white;
	--tablereact-is-selected-background-color: blue;
	--tablereact-columns-separator-color:  white;
	--tablereact-selected-background-hover-color: #0063ff;
    --tablereact-item-selected-color: red;

	--tablereact-scrollbar-width: 12px;
    --tablereact-scrollbar-border-width: 0px;
    --tablereact-scrollbar-background-color: transparent;
	--tablereact-scrollbar-background-hover-color: rgba(192, 192, 192, 0.6);
	--tablereact-scrollbar-grip-radius: 999px;
    --tablereact-scrollbar-grip-color: gray;    
    --tablereact-scrollbar-grip-hover-color: gray;    
    --tablereact-scrollbar-grip-active-color: var(--tablereact-is-selected-background-color);    
	--tablereact-scrollbar-grip-width: 4px; 
	--tablereact-scrollbar-grip-right: 1px; 
    --tablereact-scrollbar-button-display: none; 
    --tablereact-scrollbar-button-color: #666;
    --tablereact-scrollbar-button-hover-color: #555;
    --tablereact-scrollbar-button-active-color: #444;
    --tablereact-scrollbar-button-background-color: white;
    --tablereact-scrollbar-button-hover-background-color: rgb(209, 209, 209);
    --tablereact-scrollbar-button-active-background-color: #aaa;
    --tablereact-scrollbar-right-margin: 6px;
}
#root {
	display: flex;
    width: 100%;	
	overflow: hidden;
}

#root>div {
	flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.is-sortable {
	background-color: yellow;
	transition: background-color 0.3s; 
}
.isSortable:hover {
	background-color: var(--tablereact-selected-background-hover-color);
}

.container {
	margin: 0px 55px;
}

.img {
	width:16px;
}

.main {
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.listcontainer {
	margin: 20px;
	position: relative;
	flex-grow: 1;
	overflow: hidden;

	border-color: gray;
	border-style: solid;
	border-width: 1px;
}
.list {
	position: absolute;
	height: 100%;
	width: 100%;        
}
.rootVirtualTable {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #444;
}
.containerVirtualTable {
    flex-grow: 1;
    display: flex;
}
.tabletest {
	width: 100%;
	box-sizing: border-box;
	outline-width: 0px;
	table-layout: fixed;
	border-spacing: 0px;
}
.tabletest td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	user-select: none;
}

table tr .textitem {
	user-select: text;
}